.home {
    background-color: #8AAAE5;
    width: 100%;
    height: 100vh;
    /* padding-top: 20px; */
    overflow-y: scroll;
}
.home-sidebar {
    width: 100%;
    height: 100%;
    background-color: #8AAAE5;
}
.home-sidebar-title, .home-sidebar-content {
    background-color: #fff;
    border-radius: 8px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    margin-top: 25px;
}
.home-sidebar-title h2 {
    padding-top: 10px;
}
.home-sidebar-members, .home-sidebar-location {
    background-color: #8BD8BD;
    border-radius: 8px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}
.vote{
    display: flex;
    position: relative;
    margin:15px 0px;
}
.vote h4:first-child {
    margin-top: 10px;
}
.quantilyVote{
    border-radius:50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right:10px;
    background-color: rgb(81, 81, 70,0.2);
    font-size:15px;
    margin-top: 10px;
}
.nameVote{
    margin-left:15px;
    margin-right:40px;
    font-size:20px;
}
.home-sidebar-location {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}
.sidebar {
    width: 25%;
    height: calc(100% - 25px)
}
.maps {
    width: 75vw;
    height: 100vh;
    /* overflow-y: hidden; */
}
.homeView {
    text-align: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
}
.btnEndVote {

}
.btnEndVote button {
    width: 45%;
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: bold;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
}
