.home {
    background-color: rgba(70,23,143,1);
    width: 100%;
    height: 100vh;
    /* padding-top: 20px; */
    overflow-y: scroll;
}
/* .go-back {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    width: 95%;
    height: 30px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    margin-top: 25px;
} */

.go-back {
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    width: 45%;
    height: 50px;
}

.go-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: bold;
}

.go-back span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.9s;
}

.go-back:hover span {
    padding-left: 25px;
}

.go-back:hover span:after {
    opacity: 1;
    left: 0;
}

.home-sidebar {
    width: 100%;
    height: 100%;
    background-color: rgba(70,23,143,1);
}

.home-sidebar-title, .home-sidebar-content {
    background-color: #fff;
    border-radius: 8px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    margin-top: 25px;
}
.home-sidebar-title h2 {
    padding-top: 10px;
}
.home-sidebar-members, .home-sidebar-location {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}
.vote {
    display: flex;
    position: relative;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    
}
.nameVote input {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.vote h4:first-child {
    margin-top: 10px;
}
.vote:hover {
    background-color: #cccccc;
}

.quantilyVote{
    border-radius:50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right:10px;
    background-color: rgb(81, 81, 70,0.2);
    font-size:15px;
    margin-top: 10px;
}
.nameVote{
    margin-left:15px;
    margin-right:40px;
    font-size:20px;
}
.home-sidebar-location {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}
.sidebar {
    width: 25%;
    height: calc(100% - 25px)
}
.maps {
    width: 75vw;
    height: 100vh;
    /* overflow-y: hidden; */
}
.homeView {
    text-align: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
}

.btnEndVote button {
    width: 45%;
    height: 50px;
    margin-top: 55px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: bold;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
}
.btnLocation_share button {
    width: 45%;
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: bold;
    background-color: #FFFFFF;
    position: relative;
}

.listPeople {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: #fff;
    top: 30px;
    right: 50px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}
.mapBox {
    position: relative;
}
