.home {
    background-color: #46178f;
    width: 100%;
    height: 100vh;
    /* padding-top: 20px; */
    overflow-y: scroll;
}
.home-sidebar {
    width: 100%;
    height: 100%;
    background-color: #46178f;
}
.home-sidebar-title, .home-sidebar-content {
    background-color: #fff;
    border-radius: 8px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    margin-top: 25px;
}
.home-sidebar-title h2 {
    margin: 0;
}
.home-sidebar-members, .home-sidebar-location {
    background-color: #8BD8BD;
    border-radius: 8px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

.home-sidebar-location p:last-child {
    margin-bottom: 0;
}
.sidebar {
    width: 25%;
    height: calc(100% - 25px)
  }
  .maps {
    width: 75vw;
    height: 100vh;
    /* overflow-y: hidden; */
  }
  .homeView {
    text-align: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
  }
  