.form-control {
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: "Roboto";
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fafafa;
    outline: none;
  }
  
  .form-control:focus {
    color: #999;
    background-color: fafafa;
    border: 1px solid #4285f4 !important;
  }
  .text_p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .coppy_input{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .btn_coppy{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    height: 56px;
    padding: 0 13px;
  }
  .img_coppy {
    width: 30px;
    height: 30px;
  }
  .btn_coppy:hover{
    background-color: #ddd;
    border-radius: 50%;
  }