.App {
  text-align: center;
}
.login_form {
  background-color: rgb(70, 23, 143);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  padding: 100px 0;
}

.login_form h1 {
  margin-top: 25px;
}

.login_wrapper {
  background: #fff;
  padding: 50px;
  width: 100%;
  margin-top: 50px;
  border-radius: 8px;
  position: relative;
}

.login_wrapper a.btn,
.login_btn {
  color: rgb(70, 23, 143);
  height: 50px;
  padding: 6px 25px;
  line-height: 36px;
  border-radius: 5px;
  background: #fff;
  font-size: 16px;
  border: 1px solid rgb(70, 23, 143);
  text-decoration: none;
  outline: none;
}

.login_btn_wrapper a.btn:hover,
.login_btn:hover {
  color: #fff;
  background: rgb(70, 23, 143);
}

.login_wrapper a.google-plus {
  background: #db4c3e;
  border: 1px solid #db4c3e;
}

.login_wrapper h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #111;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.formsix-pos,
.formsix-e {
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  border-radius: 8px;
  background-color: #ccc;
}

.form_row {
  text-align: center;
}

.login_btn_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}

.login_btn_wrapper a.login_btn {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0;
  font-weight: bold;
}

.krqetT {
  position: fixed;
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg);
  opacity: 0.1;
  top: -15vmin;
  left: -15vmin;
  min-width: 50vmin;
  min-height: 50vmin;
}
.ifKAln {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  min-width: 50vmin;
  min-height: 50vmin;
  bottom: -15vmin;
  right: -15vmin;
}
.msg_err {
  color: #d41a1a;
  font-size: 12px;
  margin: 20px 0 8px 0;
}
button.btn_address {
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 6px 25px;
  line-height: 36px;
  border-radius: 5px;
  background: rgb(70, 23, 143);
  font-size: 16px;
  border: 1px solid rgb(70, 23, 143);
  text-decoration: none;
  outline: none;
}
.btn_address {
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 6px 25px;
  line-height: 36px;
  border-radius: 5px;
  background: rgb(70, 23, 143);
  font-size: 16px;
  border: 1px solid rgb(70, 23, 143);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}
.facebook,
.google {
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 10px;
  line-height: 30px;
  border-radius: 8px;
}
.facebook {
  background-color: #3B5998;
}
.google {
  background-color: #cf4332;
}
.icon_social {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

/* css style scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .login_form {
    height: 100%;
    padding: 50px 0;
  }  
}
